
<div class="container">
  <div class="contenido-menu">
    <div class="menu-container">
      <p class="facturacion">Sistema contable</p>
      <ul>
        <details >
          <summary  >Terceros</summary>
          <li>
            <button
              routerLinkActive="underline"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/cliente/home" 
              >
              🛒 Cliente
            </button>
          </li>
          <li>
            <button routerLink="/proveedor/home" routerLinkActive="underline">
              🛒 Proveedor
            </button>
          </li>
          <li>
            <button routerLink="/empleado/home" routerLinkActive="underline">
              🛒 Empleado
            </button>
          </li>
          <li>
            <button routerLink="/vendedor/home" routerLinkActive="underline">
              🛒 Vendedor
            </button>
          </li>
        </details>
        <details >
          <summary>Ventas</summary>
            <li>
              <button routerLink="/app/factura" routerLinkActive="underline">
              📝 Factura
              </button>
            </li>
        </details>
        <details >
          <summary>Compras</summary>
            <li>
              <button routerLink="/app/factura" routerLinkActive="underline">
              📝 Factura
              </button>
            </li>
        </details>
        <details >
          <summary>Ingresos y Gastos</summary>
            <li>
              <button routerLink="/app/factura" routerLinkActive="underline">
              📝 Factura
              </button>
            </li>
        </details>
        <details >
          <summary>Informes</summary>
            <li>
              <button routerLink="/app/factura" routerLinkActive="underline">
              📝 Factura
              </button>
            </li>
        </details>
        <details >
          <summary>Inventario</summary>
            <li>
              <button routerLink="/app/factura" routerLinkActive="underline">
              📝 Factura
              </button>
            </li>
        </details>
      </ul>
    </div>
    <button class="salir" (click)="salir()">✖️ Salir</button>
    
  </div>
  <div class="content">
    <div class="rutas">
      <router-outlet ></router-outlet>
    </div>
  </div>
</div>
